body {
  background-color: #111;
  color: #ddd;
  font-family: monospace;
  font-size: 1.1em;
}

#top {
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  background-color: #000;
  height: 2em;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  padding-left: .5em;
}

#results {
  margin: .75em;
}
#select-region,
#select-world,
#search-guild {
  background-color: #000;
  color: #ddd;
  border: 1px solid #333;
  border-radius: 0;
}

#select-region:focus,
#select-world:focus,
#search-guild:focus {
  outline: none;
}

.result-name {
  font-weight: bold;
}

.result-world {
  color: salmon;
  text-decoration: underline;
  cursor: pointer;
}

.result-world:hover {
  text-decoration: none;
}

.result-tag {
  color: #555;
}

.result-tag-name {
  color: darkturquoise;
}

.wrong-query {
  background-color: lightpink;
}
