body {
  background-color: #0f0f0f;
  color: #f1f1f1;
  font-family: system-ui, sans-serif;
  font-size: calc(15rem / 16);
}

#container {
  padding: 0 calc(8rem / 16);
  margin: calc(8rem / 16) 0 calc(16rem / 16) 0;
}

#top {
  background-color: #0f0f0f;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#region,
#world,
#search,
#sort,
#clear {
  margin: calc(2rem / 16) 0;
}

#select-world,
#select-sort,
#search-guild {
  background-color: #0f0f0f;
  color: #f1f1f1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  margin-left: calc(4rem / 16);
}

#select-world {
  min-width: calc(200rem / 16);
}

#region,
#sort,
#search-guild,
#clear {
  line-height: initial;
}

#select-world:focus,
#search-guild:focus,
#select-sort:focus {
  outline: none;
}

#search-guild:focus {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#clear {
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}

#clear:hover {
  text-decoration: none;
}

#landing {
  display: inline-block;
  margin-bottom: calc(6rem / 16);
}

#landing > #title {
  margin: calc(6rem / 16) 0;
}

#landing #description {
  font-weight: normal;
  margin-top: 0;
  color: #ccc;
  font-size: 1em;
}

#title-highlight {
  color: #f56991;
}

#last-fetched {
  color: #ccc;
  display: inline-block;
  margin-top: calc(16rem / 16);
}

#stats p {
  margin: .5em 0;
}

#stats sup {
  color: #aaa;
}

#stats #footnotes {
  color: #aaa;
}

.result {
  margin-bottom: .1em;
}

#result-legend {
  margin-bottom: 1em;
}

#result-legend-fail {
  color: salmon;
  font-weight: bold;
}

#results-legend-nothing {
  margin-top: 3em;
  color: #ccc;
}

#results-legend-nothing p {
  margin: .5em 0;
}

#results-legend-nothing > q {
  font-weight: bold;
  font-style: italic;
}

#results-legend-nothing a {
  color: #ccc;
}

#results-legend-nothing a:hover {
  text-decoration: none;
}

#result-query {
  font-weight: bold;
}

.result {
  display: flex;
}

.result-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.result-world {
  margin-left: .25em;
  color: sandybrown;
  text-decoration: underline;
  cursor: pointer;
}

.result-world:hover {
  text-decoration: none;
}

.result-tag {
  color: darkturquoise;
}

#load-all {
  margin-top: .5em;
  font-size: .9em;
}

#load-all-link {
  text-decoration: underline;
  cursor: pointer;
}

#load-all-link:hover {
  text-decoration: none;
}

#stats-highest-worlds span,
#stats-least-worlds span {
  text-decoration: underline;
  cursor: pointer;
}

#stats-highest-worlds span:hover,
#stats-least-worlds span:hover {
  text-decoration: none;
}

#go-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 255, 255, 0.1); /* Set a background color */
  color: #f1f1f1; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

@media (min-width: 1100px) {
  #container {
    margin: 0 0 calc(16rem / 16) 0;
  }

  #top {
    position: sticky;
    top: 0;
    flex-direction: row;
    align-items: center;
    height: calc(42rem / 16);
    font-size: calc(16rem / 16);
  }

  #world,
  #search,
  #sort,
  #clear {
    margin: 0 0 0 calc(14rem / 16);
  }

  #region {
    margin: unset;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: calc(16rem / 16);
  }

  #top {
    height: calc(48rem / 16);
    font-size: calc(18rem / 16);
  }

  #world,
  #search,
  #sort,
  #clear {
    margin: 0 0 0 calc(16rem / 16);
  }
}
